<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <img src="https://baogiaothong.mediacdn.vn/603483875699699712/2024/9/13/anh-man-hinh-2024-07-09-luc-110435-1018-17262218325391877163300.png" 
            style=" width: 50%; margin-left:auto; margin-right:auto; display:block">


        <p>Xem thêm: <a style="font-weight: bold; text-decoration:none; color:blue" href="https://www.baogiaothong.vn/hanh-trinh-nhieu-chong-gai-cua-vua-rong-nho-192240913170314847.htm">Tại đây</a></p>    

    </body>
</html>